@import url(./fonts/stylesheet.css);

:root {
  --max-width: 768px;
  --primary-color: #ba99fa;
}

html, body {
  font-family: 'Labil Grotesk', sans-serif;
background: var(--Colors-Background-bg-primary_alt, #1A1A1E);
color: var(--colors-text-text-tertiary-600, #A0A0AB);
text-align: center;

min-height: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
/* Text sm/Semibold */
font-family: var(--Font-family-font-family-body, "Labil Grotesk");
font-size: var(--Font-size-text-sm, 14px);
font-style: normal;
font-weight: 400;
line-height: var(--Line-height-text-sm, 20px); /* 142.857% */
}

.fontless-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fontless-container {
  margin: auto auto;
  display: flex;
  height: auto;
width: 743px;
flex-direction: column;
align-items: center;
gap: 2rem;
  flex-shrink: 0;
}

.fontless-title {
  font-size: 1rem;
  font-weight: 400;
}

.fontless-section {
  margin: auto auto;
}

.fontless-input-select-zone {
  position:relative;
  margin: auto auto;
  display: flex;
  width: 299px;
  height: 119px;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm, 6px);
  border-radius: var(--radius-xl, 12px);
border: 1px dashed var(--Colors-Border-border-primary, #3F3F46);
background: var(--Colors-Background-bg-primary, #131316);
transition: all 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);

}

.fontless-input-select-zone:hover {
  cursor: pointer;
  background: var(--Colors-Background-bg-primary, #0d0d0f);
}

button {
  font-size: 1rem;
  font-family: 'Labil Grotesk', sans-serif;
  cursor: pointer;
  color: var(--colors-text-text-tertiary-600, #A0A0AB);
  transition: all 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);

}

.fontless-select-file-button {
  position: absolute;
  padding: var(--spacing-lg, 12px) 18px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  background: none;
  box-shadow: none;
  border: none;
  color: white;
}
.fontless-select-file-button:hover {
  background-color: transparent;
}

.fontless-font-conversion-select-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0;
  position: relative;
}

.fontless-font-conversion-select-button {
  border-radius: var(--radius-xl, 12px);
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  border: 1px solid var(--Colors-Border-border-secondary, #26272B);
  background: var(--Colors-Background-bg-primary, #131316);
}

.fontless-font-conversion-select-button:hover {
  /* cursor: pointer; */
  /* background: var(--Colors-Background-bg-primary, #0d0d0f); */
}

button:focus {
  outline:0;
}

button:hover {
  cursor: pointer;
}

button[disabled] {
  opacity: 0.25;

  transition: all 1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

button[disabled]:hover {
  cursor: not-allowed;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.input-radio {
  display: none;
}


.input-radio + label {
  position: relative;
  height: 100%;
  border-radius: var(--radius-xl, 12px);
  color: #42454c;
  transition: 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  padding-left: 43px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor:pointer;
}
@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: inset 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: inset 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: inset 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: inset 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: inset 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: inset 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

.input-radio + label:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 16px;
  width: 14px;
  height: 14px;
  border-radius: var(--radius-xl, 12px);
  
  border: 2px solid var(--Gradient-skeuemorphic-gradient-border, #42454c);
  /* button-shadow */
  box-shadow: 0px 0px 6px 0px rgba(255,255,255, 0) inset, 0px 2px 4px -2px rgba(0, 0, 0, 0.0), 0px 4px 6px -1px rgba(0, 0, 0, 0.50), 0px 0px 2px 2px #181D27 inset;
  
  border-radius: var(--radius-xl, 12px);
  margin: auto;
}

.input-radio:checked + label {
  -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  height: 100%;  
  transition: 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  background: var(--gradient-gray-90070045-deg, linear-gradient(45deg, #1b1d2000 0%, #000000cd 100%));
  color: #9fa4af;
  border: 0px solid var(--Gradient-skeuemorphic-gradient-border, #606775);

}
.input-radio:checked + label:before {
  border: 2px solid var(--Gradient-skeuemorphic-gradient-border, #9fa4af);
  border-radius: var(--radius-xl, 12px);
  transition: all 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);

	-webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}
.input-radio:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  width: 10px;
  height: 10px;
  transition: all 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  border: 0px solid var(--Gradient-skeuemorphic-gradient-border, #60677500);
  /* background: var(--gradient-gray-90070045-deg, linear-gradient(45deg, #181D27 0%, #17191c 100%)); */
  
  border-radius: var(--radius-xl, 12px);
  /* button-shadow */
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1) , 0px 2px 2px -2px rgba(0, 0, 0, 1), 0px 4px 6px -1px rgba(0, 0, 0, 0.10), 0px 0px 12px 2px #4146516c inset;
  
  margin: auto;
}

.fontless-convert-button {
  display: flex;
  width: 176px;
  height: 52px;
  padding: var(--spacing-lg, 12px) 18px;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm, 6px);
  border-radius: var(--radius-xl, 12px);
border: 2px solid var(--Gradient-skeuemorphic-gradient-border, #606775);
background: var(--gradient-gray-90070045-deg, linear-gradient(45deg, #181D27 0%, #414651 100%));

/* button-shadow */
box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.10) inset, 0px 2px 4px -2px rgba(0, 0, 0, 0.10), 0px 4px 6px -1px rgba(0, 0, 0, 0.10), 0px 0px 12px 2px #4146516c inset;
}

#format-select-container {
  display: flex;
  margin: auto auto;
  gap: 0.25rem;
}

.convert-summary {
  margin-bottom: 1rem;
}

#convert-result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#convert-button-container {
  padding: 0 0 0 0;
}

.spinner-off {
  display: none;
}

#spinner-icon {
  margin-left: 6px;
}

#error-message-container {
  font-weight: bold;
  color: red;
}

.error-message-off {
  display: none;
}

.fontless-footer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0;
  position: relative;
}